<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="stride-local" value="../../../stride/bin/packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="stride-local"><package pattern="Stride.*" /></packageSource>
    <packageSource key="nuget.org"><package pattern="Stride.Dependencies.*" /><package pattern="*" /></packageSource>
  </packageSourceMapping>
  <config><add key="globalPackagesFolder" value=".packages" /></config>
</configuration>
